.button {
    background: #151515;
    border-radius: 2px;
    font-family: Montserrat;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.37px;
    width: 146px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}